
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of userdata.users">
                    <div class="card"style="width: 18rem;">
                        <img height="200px" width="200px" src="{{i.image}}" class="card-img-top" alt="...">
                        <div  class="card-body">
                          <h5 class="card-title">{{i.firstName}}</h5>
                          <h5 class="card-title">{{i.lastName}}</h5>
                          <p class="card-text">{{i.age}}</p>
                          <p class="card-text">{{i.gender}}</p>
                          <p class="card-text">{{i.email}}</p>
                          <p class="card-text">{{i.phone}}</p>
                          <p class="card-text">{{i.username}}</p>
                          <p class="card-text">{{i.password}}</p>
                          <p class="card-text">{{i.birthDate}}</p>
                          <p class="card-text">{{i.bloodGroup}}</p>
                        </div>
                       
                      </div>
                      
                </div>
                
            </div>
        </div>
    </div>
</div>