<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"*ngFor="let i of product">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.images[0].https}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">Description : {{i.description}}</p>
                          <p class="card-text">Price : {{i.price}}</p>
                          <p class="card-text">Rating : {{i.rating}}</p>
                          <p class="card-text">Brand : {{i.brand}}</p>
                          <p class="card-text">Category : {{i.category}}</p>
                          <p class="card-text">Stock : {{i.stock}}</p>
                          <a routerLink="" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
