<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3 mt-4">
       <table class="table  table-striped text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Trips</th>
                   <th>Airline</th>
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let i of passenger.data">
                    <td>{{i.name}}</td>
                    <td>{{i.trips}}</td>
                     <td>{{i.airline[0].name}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
