<div class="container">
    <div class="row g-3 mt-4">
       <table class="table  table-striped text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Quote</th>
                   <th>Author</th>
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let i of qt.quotes">
                    <td>{{i.id}}</td>
                    <td>{{i.quote}}</td>
                     <td>{{i.author}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
